<template name="dashboard">
  <div class="template-dashboard">
        <h3 class="text-info text-center">Current Ticket Status</h3>

        <!--Generate chart widget-->
        <div class="col-md-15 text-center">
          {{> chartCanvas id='statusChart' width="200" height="200"}}
        </div>

        <!--Generate dynamic counters with text below chart widget-->
        <div class="col-md-3 text-center text-primary">
          <h1>{{closedTickets}}</h1>
          <h3>Closed</h3>
        </div>

        <div class="col-md-3 text-center text-success">
          <h1>{{openTickets}}</h1>
          <h3>Open</h3>
        </div>

        <div class="col-md-3 text-center text-warning">
          <h1>{{unassignedTickets}}</h1>
          <h3>Unassigned</h3>
        </div>

        <div class="col-md-3 text-center text-danger">
          <h1>{{overdueTickets}}</h1>
          <h3>Overdue</h3>
        </div>
    </div>
</template>
