<template name="tickets">
    <!--SIDEBAR-->
    <div class="sidebars">
        <div class="sidebar bottom">
            <button class="btn btn-default sidebarCloseBtn"><i class="fa fa-close"></i></button>
            <div class="sidebarContent">
                <h4>Ticket Details</h4>
                <table class="sidebarDetailsTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Creator</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                        <th>Due</th>
                        <th>Priority</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tr>
                        <td id="ID"></td>
                        <td><input id="Creator" type="text"></td>
                        <td><input id="Assignee" type="text"></td>
                        <td id="Created"></td>
                        <td><input id="Due" type="date"></td>
                        <td><select id="Priority">
                            <option>High</option>
                            <option>Med</option>
                            <option>Low</option>
                        </select> </td>
                        <td><select id="Status">
                            <option>Open</option>
                            <option>Closed</option>
                        </select> </td>
                    </tr>
                </table>

                <table class="sidebarSummaryTable">
                    <thead>
                    <tr>
                        <th>Summary</th>
                    </tr>
                    </thead>

                    <tr>
                        <input id="Summary" type="text">
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="template-tickets">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTicketModal"><span class="fa fa-plus"></span> New Ticket</button>
        <button type="button" class="btn btn-default btnViewTickets">View Closed Tickets</button>

        <div id="openTickets">
            <h3 class="text-success">Open Tickets</h3>
            {{> openTickets }} <!--Display open tickets-->
        </div>

        <div id="closedTickets">
            <h3 class="text-danger">Closed Tickets</h3>
            {{> closedTickets }} <!--Display closed tickets-->
        </div>
        <!--Create ticket dialog box-->
        <div class="modal fade" id="createTicketModal" tabindex="-1" role="dialog"
             aria-labelledby="createTicketModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="createTicketModalLabel">Create New Ticket</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputSummary" class="col-sm-2 control-label">Summary</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSummary"
                                           value="This is a short description">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputCreator" class="col-sm-2 control-label">Creator</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCreator" value="Customer">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputAssign" class="col-sm-2 control-label">Assigned To</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAssign" value="George Jones">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputCreate" class="col-sm-2 control-label">Created</label>

                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="inputCreate" value="12/25/2015">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputDue" class="col-sm-2 control-label">Due</label>

                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="inputDue" value="12/31/2015">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPriority" class="col-sm-2 control-label">Priority</label>

                                <div class="col-sm-10">
                                    <select class="form-control" id="inputPriority">
                                        <option value="Low">Low</option>
                                        <option value="Med">Med</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputStatus" class="col-sm-2 control-label">Status</label>

                                <div class="col-sm-10">
                                    <select class="form-control" id="inputStatus">
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <span class="fa fa-times"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-success" id="createTicketSubmit">
                            <span class="fa fa-check"></span> Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="openTickets">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Summary
            </th>
            <th>
                Creator
            </th>
            <th>
                Assigned To
            </th>
            <th>
                Created
            </th>
            <th>
                Due
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>

        <tbody>
        {{#each openTickets}}
            <tr>
                <td>
                    <a href="#" class="idClick">{{ id }}</a>
                </td>
                <td class="summaryField">
                    {{ summary }}
                </td>
                <td class="creatorField">
                    {{ creator }}
                </td>
                <td class="assigneeField">
                    {{ assignedTo.fullname }}
                </td>
                <td class="createdField">
                    {{ created }}
                </td>
                <td class="dueField">
                    {{ due }}
                </td>
                <td class="priorityField">
                    {{ priority }}
                </td>
                <td class="statusField">
                    {{ status }}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="closedTickets">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Summary
            </th>
            <th>
                Creator
            </th>
            <th>
                Assigned To
            </th>
            <th>
                Created
            </th>
            <th>
                Due
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>

        <tbody>
        {{#each closedTickets}}
            <tr>
                <td>
                    <a href="#" class="idClick">{{ id }}</a>
                </td>
                <td class="summaryField">
                    {{ summary }}
                </td>
                <td class="creatorField">
                    {{ creator }}
                </td>
                <td class="assigneeField">
                    {{ assignedTo.fullname }}
                </td>
                <td class="createdField">
                    {{ created }}
                </td>
                <td class="dueField">
                    {{ due }}
                </td>
                <td class="priorityField">
                    {{ priority }}
                </td>
                <td class="statusField">
                    {{ status }}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
