<template name="_footer">
  <footer>
    <div class="container">
      <p class="text-center text-muted">
        Powered by <br>
        <a href="https://www.meteor.com/"><span class="fa fa-rocket"></span> Meteor</a> | <a href="https://www.mongodb.org/"><span class="fa fa-database"></span> MongoDB</a> | <a href="http://www.chartjs.org"><span class="fa fa-bar-chart"></span> ChartJS</a>
      </p>
    </div>
  </footer>
</template>
