<template name="_header">

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span class="fa fa-lg fa-heartbeat"></span> Triage</a>
      </div>


      <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-right">
              <!--Only display signed in widget if user is logged in-->
            {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-action="logout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
              </ul>
            </li>
            {{/if}}
          </ul>

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}} <!--Only display menu items if user is logged in-->
            {{#if isInRole 'admin,agent'}}
            <li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-line-chart"></i> Dashboard</a></li>
            {{/if}}

            <li class="{{ isActiveRoute regex='tickets' }}"><a href="{{ pathFor 'tickets' }}"><i class="fa fa-ticket"></i> Tickets</a></li>

            {{#if isInRole 'admin'}}
            <li class="{{ isActiveRoute regex='manage' }}"><a href="{{ pathFor 'manage' }}"><i class="fa fa-wrench"></i> Manage</a></li>
            {{/if}}
          {{/if}}

        </ul>
      </div>

    </div>
  </nav>

</template>
