<!--
This file describes the layout of the application. It populates the header, footer, and places the
main body content under a "container" div.This is so that the layout code can be easily maintained
and doesn't have to be re-used on multiple pages.
-->

<template name="appLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> _header}}

  <div class="container">
    {{> yield}}
  </div>

  {{> _footer}}
</template>
