// Bootstrap Variables
@import "./lib/bootstrap/variables.import.less";

//*****************
//CUSTOM VARIABLES
//*****************
@brand-primary: #0b75b0;

.navbar {
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

// Remove dotted border in Firefox
a:link, a:active, a:focus {
  outline: 0;
  border: 0;
  text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
}

th {
  text-align: center;
}

.template-manage table {
  margin-top: 10px;
}

// Nav background for active page
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #007491; /* Old browsers */
  background: -moz-linear-gradient(top,  #007491 0%, #003b49 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007491), color-stop(100%,#003b49)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #007491 0%,#003b49 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #007491 0%,#003b49 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #007491 0%,#003b49 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #007491 0%,#003b49 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007491', endColorstr='#003b49',GradientType=0 ); /* IE6-9 */
  color: #a2e5f7;
  border-left: thin solid #1588a4;
  border-right: thin solid #1588a4;
}

// Logo color
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #67d5e6;
}

.statusBar {
  background-color: #8e9196;
}

th {
  color: #545454;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

//********
//SIDEBAR
//********
@sidebarTableBorderLeft: 5px 0 0 5px;
@sidebarTableBorderRight: 0 5px 5px 0;
@sidebarTablePadding: 5px;
@sidebarTableWidth: 80%;
@sidebarTableHeaderBg: rgba(1, 143, 196, 0.6);
@sidebarTableHeaderColor: #e3e6e7;

.sidebar.bottom {
  left: 0;
  right: 0;
  bottom: 0;
  background: #01283d;
  text-align: center;
}

.sidebars > .sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
  position: fixed;
  color: white;
  padding: 10px;
}

.sidebarCloseBtn {
  float: right;
}

.sidebarContent {
  margin-top: 35px;
}

//Center table in sidebar
.sidebarContent > table {
  margin: auto;
  width: @sidebarTableWidth;
  table-layout: fixed;
}

.sidebarDetailsTable > tr > td > input, .sidebarSummaryTable > tr > input {
  background-color: rgb(0, 60, 85);
  border: none;
  text-align: center;
}

//Add rounded corners to headers
.sidebarDetailsTable > thead:nth-child(1) > th:nth-child(1)  {
  border-radius: @sidebarTableBorderLeft;
  -moz-border-radius: @sidebarTableBorderLeft;
  -webkit-border-radius: @sidebarTableBorderLeft;
}

.sidebarDetailsTable > thead:nth-child(1) > th:nth-child(7) {
  border-radius: @sidebarTableBorderRight;
  -moz-border-radius: @sidebarTableBorderRight;
  -webkit-border-radius: @sidebarTableBorderRight;
}

.sidebarDetailsTable > thead > tr > th {
  background: @sidebarTableHeaderBg;
  color: @sidebarTableHeaderColor;
}

.sidebarDetailsTable > thead > tr > th, td {
  padding: @sidebarTablePadding;
}

select#Status, select#Priority {
  color: #FFF;
  background-color: #003C55;
}

.sidebarSummaryTable > thead > tr > th {
  margin: 10px auto;
  padding: @sidebarTablePadding;
  background: @sidebarTableHeaderBg;
  color: @sidebarTableHeaderColor;

  //Corners
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sidebarSummaryTable > tr > input#Summary {
  width: 100%;
  text-align: left;
}

//Prevent icons from appearing above sidebar when it is opened and at bottom of page
.fa { display: inline }