<template name="manage">
    <div class="template-manage">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">
            <span class="fa fa-user-plus"></span> New User</button>
        <button type="button" class="btn btn-warning btnResetTickets"><span class="fa fa-history"></span> Reset Tickets</button>

        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Role
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>

            <!--Loop through data in users database and display-->
            <tbody>
            {{#each users}}
                <tr>
                    <td>
                        {{profile.name}}
                    </td>
                    <td id="email">
                        {{emails.[0].address}} <!--Display primary email address associated with profile-->
                    </td>
                    <td>
                        {{roles}}
                    </td>
                    <td>
                        <button class="btn btn-danger btnDeleteUser">
                            <span class="fa fa-user-times"></span> Delete</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <!--Create user dialog box-->
        <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="createUserModalLabel">Create User</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group form-group-sm">
                                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputUsername" value="test">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email Address</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" value="test@test.com">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" value="password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputRole" class="col-sm-2 control-label">Role</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="inputRole">
                                        <option value="admin">Admin</option>
                                        <option value="agent">Agent</option>
                                        <option value="customer">Customer</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <span class="fa fa-times"></span> Cancel</button>
                        <button type="button" class="btn btn-success" id="createUserSubmit">
                            <span class="fa fa-check"></span> Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
